.moviesImages {
    display: flex;
    padding: 1px 10px;
    background-color: #0c0c0c;
    width: 50%;
    height: 50%;
}

.poster {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: "100px";
    margin: 5px;
    border: 1px rgb(16, 16, 16);
}


.carousel_container {

    width: 100%;
    flex-direction: nowrap;
    justify-content: space-around;
}


.slick-next {
    right: 12px;
    z-index: 99;
    /*width: 156px;*/
}

.slick-prev {
    left: 12px;
    z-index: 99;
    /*width: 156px;*/
}

.buttons {
    color: #09010a !important;
    font-size: 20px;
    font-weight: 500;
    padding: 0.5em 1.2em;
    background: rgba(158, 90, 146, 0);
    border: 2px solid;
    border-color: #b044b0;
    transition: all 1s ease;
    position: relative;
}

.boton3:hover {
    background: #318aac;
    color: #fff !important;
}

#separar {
    padding: 3%;
    display: inline-block;
}